<% layout('/layouts/main.html') -%>

  <div class="container">
  <h1>Login</h1>
  <form action='/auth/register' method='POST'>
  <p>
    <input type='text' name='username' placeholder='username'>
  </p>
  <p>
    <input type='password' name='password' placeholder='password'>
  </p>
  <p>
    <input type='text' name='displayName' placeholder='displayName'>
  </p>
    <input type='submit'>
  </form>
</div>