<% layout('/layouts/topic.html') -%>

	<form action="/topic/<%=topic.id %>" method="POST"> 
	    <input type="hidden" name="_method" value="PUT"/>
		<div class="form-group">
			<input name="title" class="form-control" placeholder="title" value="<%=topic.title%>">
		</div>
		<div class="form-group">
			<input name="content" type="text" class="form-control" placeholder='content' value="<%=topic.content%>">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
