<% layout('/layouts/topic.html') -%>
<div class="">
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<input type="file" name="userfile"/>
		<input type="submit"/>
	</form>
</div>